site_name: The Li Family
site_description: Welcome to the Li Family website
site_author: Li Family
site_url: https://li-family.us

# Copyright / Footer
copyright: |
  &copy; 2024 The Li Family Foundation<br>
  <a href="mailto:yuanxi.li@li-family.us">yuanxi.li@li-family.us</a> |
  <a href="mailto:jingya.zhang@li-family.us">jingya.zhang@li-family.us</a>

# Social links in footer
extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/liyuanxi/
      name: Yuanxi Li on LinkedIn
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/zhangjingya112358/
      name: Jingya Zhang on LinkedIn
    - icon: fontawesome/solid/envelope
      link: mailto:yuanxi.li@li-family.us
      name: Email Yuanxi
    - icon: fontawesome/solid/envelope
      link: mailto:jingya.zhang@li-family.us
      name: Email Jingya

theme:
  name: material
  palette:
    # Light mode - Warm family theme
    - scheme: default
      primary: deep purple
      accent: pink
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    # Dark mode - Elegant night theme
    - scheme: slate
      primary: deep purple
      accent: pink
      toggle:
        icon: material/weather-night
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - toc.integrate
    - search.suggest
    - search.highlight
    - search.share
    - content.tabs.link
    - content.code.copy
    - content.action.edit
    - content.action.view
    - announce.dismiss

  font:
    text: Roboto
    code: Roboto Mono

  icon:
    repo: fontawesome/brands/github

  logo: images/favicon.svg
  favicon: images/favicon.svg

# Extra CSS for custom background
extra_css:
  - stylesheets/extra.css

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

# Navigation
nav:
  - Home: index.md
  - Family Members:
      - Parents:
          - Yuanxi Li: about-yuanxi.md
          - Jingya Zhang: about-jingya.md
      - Children:
          - Jasper Li: about-jasper.md
          - Yris Li: about-yris.md
  - Blog: blog/index.md
  - Foundation: foundation.md
  - Calendar: calendar.md
  - Contact Us: contact.md

# Plugins
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - tags
  - blog:
      blog_dir: blog
      post_date_format: medium
      post_url_format: "{slug}"
      authors_file: "{blog}/.authors.yml"
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom