{% if page.meta.comments is not defined or page.meta.comments %}
<h2 id="__comments">Comments</h2>
<script src="https://giscus.app/client.js"
        data-repo="Papersboys/li-family-us"
        data-repo-id="R_kgDOQO0t1g"
        data-category="Papersboys"
        data-category-id="li-family-us"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endif %}